$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #2444B2;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.board {
  height: 300px;
  width: 300px;
  margin: 20px auto;
}

.row div {
  border: 1px solid #FFDB79;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

p {
  font-size: 20px;
}

.box {
  font-size: 20px;
  text-align: center;
  padding: 0 auto;
  background-color: #7998FF;
}
