$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: rgb(205, 163, 81);

}

.board {
  height: 300px;
  width: 300px;
  margin: 20px auto;
}

.row div {
  border: 1px solid rgb(97, 108, 74);
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

p {
  font-size: 20px;
}

.box {
  font-size: 20px;
  text-align: center;
  padding: 0 auto;
  background-color: rgb(236, 233, 221);
}
